@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);
$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}
$chart-height: 175px;
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: $cream;
    @include media-min('tablet-down') {
        align-items: center;
    }
}
main {
    flex-grow: 1;
    margin: 50px 30px;
    @include media-min('tablet-down') {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.status {
    background-color: $soft-red;
    border-radius: 8px;
    margin-top: 13px;
    color: $cream;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-min('tablet-down') {
        padding: 22px 50px;
        border-radius: 15px;
    }
    h1 {
        font-size: 1.5rem;
        font-weight: 400;
        @include media-min('tablet-down') {
            font-size: 1.8rem;
        }
    }
    p {
        margin-top: 6px;
        font-size: 2.5rem;
        font-weight: 700;
        @include media-min('tablet-down') {
            font-size: 2.8rem;
        }
    }
    .logo {
        position: relative;
    }
    .full {
        background-color: $dark-brown;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    .circle {
        height: 38px;
        width: 38px;
        border-radius: 50%;
        border: solid $cream 2px;
        position: absolute;
        top: 0;
        left: -20px;
    }
}
.card {
    background-color: $very-pale-orange;
    margin-top: 16px;
    border-radius: 8px;
    padding: 20px 15px;
    @include media-min('tablet-down') {
        margin-top: 22px;
        width: 538px;
        padding: 30px;
        border-radius: 15px;
    }
    h2 {
        font-size: 2.2rem;
        @include media-min('tablet-down') {
            font-size: 3rem;
        }
    }
    .chart {
        margin-top: 43px;
        margin-bottom: 23px;
        height: 190px;
        display: flex;
        justify-content: space-between;
        @include media-min('tablet-down') {
            height: 250px;
        }
        .day {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 55px;
            p {
                margin: 10px 0;
                color: $medium-brown;
                font-size: 1.2rem;
                @include media-min('tablet-down') {
                    font-size: 1.5rem;
                }
            }
        }
        .bar {
            width: 31px;
            background-color: $soft-red;
            border-radius: 3px;
            @include media-min('tablet-down') {
                width: 50px;
                border-radius: 5px;
            }
        }
        .bar.biggest {
            background-color: $cyan;
        }
        .bar:hover {
            opacity: 60%;
            cursor: pointer;
        }
        .bar:hover + span {
            visibility: visible;
        }
        .day span {
            color: $cream;
            background-color: $dark-brown;
            padding: 2px 5px;
            border-radius: 3px;
            margin-bottom: 5px;
            font-size: 1.1rem;
            visibility: hidden;
            @include media-min('tablet-down') {
                font-size: 2rem;
                padding: 5px 8px;
                border-radius: 5px;
            }
        }
    }
    hr {
        border-top: solid $cream 1.5px;
    }
    .result {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        @include media-min('tablet-down') {
            margin-top: 35px;
        }
        p {
            font-size: 1.5rem;
            color: $medium-brown;
            @include media-min('tablet-down') {
                font-size: 2rem;
            }
        }
        h3 {
            margin-top: 7px;
            color: $dark-brown;
            font-weight: 700;
            font-size: 3rem;
            @include media-min('tablet-down') {
                font-size: 5rem;
            }
        }
        .progress {
            align-self: flex-end;
        }
        h4 {
            text-align: right;
            color: $dark-brown;
            font-size: 1.4rem;
            @include media-min('tablet-down') {
                font-size: 2rem;
            }
        }
    }
}
.attribution {
    text-align: center;
}